<!DOCTYPE html>

<title>Jugadores index</title>

{% block body %}
    <h1>Jugadores index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Ciudad</th>
                <th>Pais</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for jugadore in jugadores %}
            <tr>
                <td>{{ jugadore.id }}</td>
                <td>{{ jugadore.nombre }}</td>
                <td>{{ jugadore.apellido }}</td>
                <td>{{ jugadore.ciudad }}</td>
                <td>{{ jugadore.pais }}</td>
                <td>
                    <a href="{{ path('app_jugadores_show', {'id': jugadore.id}) }}">show</a>
                    <a href="{{ path('app_jugadores_edit', {'id': jugadore.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_jugadores_new') }}">Create new</a>
{% endblock %}
